html
    head
        link(rel="stylesheet", href="/public/stylesheets/style.css")
        title About
    body
        h1 This page is about puppies!
        a(href="/views/new") New Puppy
        br
        a(href="contact") Contact
