html
    head
        link(rel="stylesheet", href="/public/stylesheets/style.css")
        title About
    body
        h1 Contact PETCO if you want more puppies!
        a(href="http://www.petco.com/think-adoption-first") Adopt!
        br
        a(href="/views/new") New Puppy
