body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
    font-family: Avenir;
}

body {
    background-image: url("/public/images/bgpuppy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
